// NOTE: inizio teambit-illustration
#teambit-illustration {
  background-color: $primary_back_color;
  p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
  }
  .not-teambit, .yes-teambit{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    h2 {
      padding-top: 40px;
      width: 100%;

    }
    span {
      padding: 20px 0;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    span img {
      width: 150px;
      align-self: center;
    }
    span:last-child img{
      width: 250px;
      padding: 20px 0;
    }
  }
  .yes-teambit {
    :nth-child(4) img {
      width: 60px;
    }
  }
}
// NOTE: fine teambit-illustration

// NOTE: inizio chat
#chat {
  .jumbo:nth-child(odd){
    @include jumbo-reverse;
  }
  .jumbo:nth-child(even){
    @include jumbo;
  }
  .jumbo-sx {
    @include jumbo-sx;
    width: 25%;
    a {
      color:#2c4692;
      i {
        color:#2c4692;
      }
    }
    img {
      width: 100%;
    }
  }
  .jumbo-dx {
    width: 50%;
    img {
      width: 100%;;
    }
  }
}
// NOTE: fine chat

// NOTE: inizio sign up
#sign-up {
  text-align: center;
  background-color: $primary_back_color;
  .container {
    width: 40%;
    margin: 0 auto;
    padding: 40px 0;
    h2 {
      font-size: 3em;
      padding-bottom: 20px;
    }

    .quote {
      text-align: left;
      margin: 20px 0;
      background-color: white;
      padding: 17px;
      position: relative;
      border: 1px solid #2c4692;
      border-radius: 5px;
      i {
        position: absolute;
        top: -15px;;
        left: 0;
        color: #2c4692;
        font-size: 30px;
      }
      img {
        width: 50px;
        margin: 10px;
        vertical-align: middle;
      }
      span:first-of-type {
        color:#2c4692;
      }
    }

    .button {
      padding: 30px 0;
    }

    .button span {
      @include button;
      img{
        height: 17px;
        vertical-align: middle
      }
    }

  }
}
// NOTE: fine sign up
