@mixin jumbo {
  display: flex;
  font-size: 1.3em;
  justify-content: flex-end;
}
@mixin jumbo-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@mixin jumbo-sx {
  width: 40%;
  .button a{
    color: white;
  }
}
@mixin jumbo-dx {
  width: 60%;
}
@mixin button {
  padding: 5px 7px;
  color: white;
  background-color: #2c4692;
  border: 1px solid #2c4692;
  border-radius: 5px;
  font-size: 15px;

}
